*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container
{
    height: 100vh;
    background-color: dodgerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container form{
    padding: 40px;
    width: 350px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
}
form input, form textarea, form button{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    outline: none;
}